<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap" rel="stylesheet">
    <title>Início</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">Início</a>
            <a href="/mangas">Mangás</a>
            <a href="/filmes">Filmes</a>
        </nav>
    </header>
    <main>
        <h1>Início</h1>
    </main>

</body>

</html>