<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./css/mangas.css">
    <title>Mangás</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">Início</a>
            <a href="/mangas">Mangás</a>
            <a href="/filmes">Filmes</a>
        </nav>
    </header>
    
    <main>
        <section>
            <h1>Mangás</h1>        
            <div class="mangas"></div>            
        </section>
    </main>
<script src="./js/mangas.js"></script>
</body>

</html>